body {
  font-family: "Poppins", sans-serif;
  background-color: #f1efef;
}
a {
  text-decoration: none;
}
.main {
  height: 100vh;
}

.main .side-bar {
  height: 100%;
  width: 260px;
  background-color: #f7f7f7;
  color: white;
}

.card {
  width: 250px;
  height: 60px;
  background-color: #191717;
  display: flex;
  padding-left: 30px;
  flex-flow: row wrap;
  border-radius: 0 7px 7px 0px;
}
.overview {
  margin: 80px 80px auto 80px;
}
.overview .container {
  display: flex;
  justify-content: space-around;
}
.overview .container .box {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  width: 320px;
  height: 310px;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
.overview .container .box img {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}
.overview .container .box h2 {
  font-weight: bold;
}
.overview .container .box p {
  color: rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
}
.feedback {
    margin-top: 80px;
}
.feedback .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.feedback .container .review {
  background-color: #ffffff;
  padding: 20px;
}
.feedback .container .review .info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.feedback .container .review .info h2 {
  font-size: 20px;
}
.feedback .container .review .delete {
  display: flex;
  justify-content: flex-end;
}
.feedback .container .review .delete button {
  border: none;
  background-color: transparent;
}
.feedback .container .review .delete button:hover {
  cursor: pointer;
}
