body {
    background-color: #f7f7f7;
    font-family: "Poppins", sans-serif;
}

.main {
    height: 100vh;
}

.main .side-bar {
    height: 100%;
    width: 260px;
    background-color: #f7f7f7;
    color: white;
}

.content {
    margin: 0 50px;
}


.dashboard {
    justify-content: space-between;
    
    padding-top: 15px;
}


.card {
    width: 230px;
    height: 60px;
    background-color: #191717;
    display: flex;
    padding-left: 30px;
    flex-flow: row wrap;
    border-radius: 0 7px 7px 0px;
}


.card .type {
    flex-grow: 0.5;
    border-right: 2px solid rgb(255, 252, 252);
}

.card .amount {
    flex-grow: 0.5;
}

.card .icons {
    padding-right: 10px;
    gap: 20px;
    color: white;
}


.btn {
    position: fixed;
    bottom: 40px;
    left: 20%;
}

.balance {
    width: 30%;
    align-items: center;
}
.table {
    width: 100%;
}

.table-head {
    padding-left: 30px;
    width: 80%;
    justify-content: space-between;
}


.table-row {
    background-color: #4280B9;
    width: 80%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    margin: 30px;
}

.table-row .el {
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
    padding-left: 30px;
    flex-grow: 1
}

.create {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgb(29, 141, 9);
    border-radius: 50%;
    justify-content: center;
}

.create > img {
    scale: 0.6;
}

