body {
    font-family: "Rubik", sans-serif;
}
a {
    text-decoration: none;
}

.user-header {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #121212;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.user-header .logo {
    display: flex;
    gap: 10px;
    font-size: 1.6rem;
    color: white;
    flex:  0 0 35%;

}

.user-header nav {
    flex-grow: 1;
}

.user-header .link-list {
    display: flex;
    justify-content: space-around;

    list-style-type: none;
    padding-right: 40px;
}

.user-header .link-list li a{
    color: white;
    font-size: 1.6rem;
}

.hero {
    height: 84.8vh;
    width: auto;
    background-color: #121212;
    display: flex;
    justify-content: center;
}

.hero .info {
width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
}

.hero .hero-img {
scale: 0.6;
transform: translateY(-100px);
}

.hero .info .secondary-text {
    font-size: 2.4rem;
    color: white;
    margin-bottom: 80px;
    font-weight: 400;
}

.hero .info .primary-text {
    font-size: 4rem;
    color: white;
    font-weight: 400;
}