body {
    font-family: "Rubik", sans-serif;
}
a {
    text-decoration: none;
}

.user-header {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #121212;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.user-header .logo {
    display: flex;
    gap: 10px;
    font-size: 1.6rem;
    color: white;
    flex:  0 0 35%;

}

.user-header nav {
    flex-grow: 1;
}

.user-header .link-list {
    display: flex;
    justify-content: space-around;

    list-style-type: none;
    padding-right: 40px;
}

.user-header .link-list li a{
    color: white;
    font-size: 1.6rem;
}

.hero {
    height: 84.8vh;
    width: auto;
    background-color: #121212;
    display: flex;
    justify-content: center;
}

.hero .info {
width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
}

.hero .hero-img {
scale: 0.6;
transform: translateY(-100px);
}

.hero .info .secondary-text {
    font-size: 2.4rem;
    color: white;
    margin-bottom: 80px;
    font-weight: 400;
}

.hero .info .primary-text {
    font-size: 4rem;
    color: white;
    font-weight: 400;
}

.search-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 120px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    transform: translateY(-60px);
}

.search-card .search-form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 30px;

}

.search-card .search-form .search-item {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background-color: #D9D9D9;
    border: none;
}

.search-card .search-form button {
    border: none;
    padding: 5px;
    border-radius: 10px;
}